* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #393746;
  color: #fff;
}
.container {
  display: flex;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
